<html>

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nv.d3.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>

<body>

    <div class="container" id="main">
        <header>
            <div class="row">
            <h1 class="h1">fun money</h1>
            </div>
        </header>

        <div id="page"></div>

        <footer>
            <input type="file" id="files" name="files[]" multiple />
        </footer>
    </div>
    

<script type="text/template" id="todayView">
    <div class = "row">
        <div class = "col-sm-7">
        <h2 class = "h2"> Today </h2>
            <h3 class="name"><%= name %></h3>
        <p class = "summary">
        <span class = "summaryCallout"> <%= spent %> </span> out of <span class="summaryCallout"><%= budget %></span>
        </p>
        </div>
        <div class = "col-sm-5">
        <div class = "rounded-chart">
        <div class="progress-radial progress-<%=(Math.round(dailyPrecent / 10) * 10)%>">
                <div class="overlay"><h2 class = "h2 <%=status%>"><%=dailyPrecent%>%</h2></div>
        </div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="periodView">
    <div class = "row">
        <div class = "col-sm-6">
        <h2 class = "h2"> <%= name %> </h2>
        </div>
        <div class = "col-sm-6 pull-right">
            <div class="status <%= status %>"> <%= profit %> </div>
        </div>
        </div>
    <div class="row">
        <div class="col-sm-12 preiodGraph">
            <svg class="graph"></svg>
        </div>
        </div>
</script>


<script type="text/template" id="spendingHabitsView">
    <div class = "row">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="" for="monthly_income">Monthly Income</label>
            <input type="number" class="form-control" id="monthly_income" placeholder="Monthly income">
          </div>
          
          <div class="form-group">
            <label class="" for="monthly_income">How much to save</label>
            <select id="savings">
                <option value="500">500</option>
                <option value="1000">1000</option>
                <option value="1500">1500</option>
            </select>
          </div>

          <button type="submit" class="btn btn-default">Save it</button>
        </form>
    </div>
</script>

<script type="text/template" id="averageWeekView">
    <div class = "row">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="" for="Weekly Transaction">Monthly Income</label>
            <input type="text" class="form-control" id="name" placeholder="name">
            <input type="number" class="form-control" id="amount" placeholder="amount">
            <input type="number" class="form-control" id="frequency" placeholder="frequency">
          </div>
        </form>
    </div>
</script>


<script type="text/template" id="trendsView">
    //today
    <section id="today" class="module"></section>

    //week
    <section id="week" class="module"></section>

    //month
    <section id="month" class="module"></section>

    //year
    <section id="year" class="module"></section>
</script>

    <script type="text/javascript" src="libs/d3.min.js"></script>
    <script type="text/javascript" src="libs/nv.d3.min.js"></script>
    <script type="text/javascript" src="libs/moment.js"></script>
    <script type="text/javascript" src="libs/papaparse.min.js"></script>
    <script type="text/javascript" src="libs/jquery.min.js"></script>
    <script type="text/javascript" src="libs/underscore.js"></script>
    <script type="text/javascript" src="libs/backbone.min.js"></script>
    <script type="text/javascript" src="libs/marionette.min.js"></script>
	<script type="text/javascript" src="js/file.js"></script>
	<script type="text/javascript" src="js/graphs.js"></script>
	<script type="text/javascript" src="js/stats.js"></script>
	<script type="text/javascript" src="js/views.js"></script>
	<script type="text/javascript" src="js/models.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>




</html>
