<html>

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>

<body>

    <!-- templates go in here -->
    <script type="text/template" id="todayView">
        <div class = "row">
            <div class = "col-sm-7">
            <h2 class = "h2"> <%= today.name %> </h2>
				<h3><%= today.date %></h3>
            <p class = "summary">
            <span class = "summaryCallout"> <%= today.spent %> </span> out of <span class="summaryCallout"><%= today.budget %></span>
            </p>
			</div>
            <div class = "col-sm-5">
            <div class = "rounded-chart">
            <div class="progress-radial progress-25">
                    <div class="overlay"><h2 class = "h2 <%= today.status %>"> <%= today.profit %> </h2>%</div>
            </div>
            
				</div>
            </div>
		</div>
    </script>


    <script type="text/template" id="periodView">
        <div class = "row">
            <div class = "col-sm-6">
            <h2 class = "h2"> <%= today.name %> </h2>
			</div>
            <div class = "col-sm-6">
                <div class="status <%= status %>"><p><%= today.profit %></p></div>
			</div>
            </div>
		<div class="row">
			<div class="col-sm-12">
				
			</div>
            </div>
    </script>
    <!-- end templates -->



    <div class="container" id="main">
        <header>
            <div class="row">
            <h1 class="h1">smart-money</h1>
            </div>
        </header>

        <!-- today -->
        <section id="today" class="module"></section>
        <!-- /today-->
        <!-- week -->
        <section id="week" class="module"></section>
        <!-- /week-->
        <!-- month -->
        <section id="month" class="module"></section>
        <!-- /month-->


        <footer>
            <input type="file" id="files" name="files[]" multiple />
        </footer>
    </div>
    </div>



    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/papaparse.min.js"></script>
    <script type="text/javascript" src="js/file.js"></script>
    <script type="text/javascript" src="js/mint.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/backbone.min.js"></script>
    <script type="text/javascript" src="js/marionette.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>




</html>
